<h1>Burgers!</h1>

<img src="/assets/img/burger.jpg" alt="cheeseburger">

<ul>
  {{#each burgers}}
    <li>
      <p>
        {{this.burger_name}}

        <button class="devoured" data-id="{{id}}" data-isdevoured="{{devoured}}">eat it!</button>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" action="/api/burgers" method="POST">

  <div class="form-group">
    <label for="">Burger Name:</label>
    <input type="text" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>

